.hh{
    background-color: rgb(250, 192, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.ss a{
    text-decoration: none;
}
.kk{
    position: absolute;
    right: 8%;
}
.navs a{
    margin-right: 30px;
    font-weight: 500;
    color: black;
    
}
.navs a:hover{
    color: rgb(250, 192, 0);
}
.phnems{
    padding: 40px;
    text-align: center;
}
.phne{
    padding: 30px;
    text-align: center;
}
.cnts{
        background-image: linear-gradient(to right,rgba(55, 247, 30, 0.932),rgb(227, 248, 33));
        padding: 50px;
}