.hh{
    background-color: rgb(250, 192, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.ss a{
    text-decoration: none;
}
 /* .kk{
    
 } */
 .navs a{
    margin-right: 60px;
    font-weight: 500;
    color: black;
    
}
.navs a:hover{
    color: rgb(250, 192, 0);
} 
.phnems{
    padding: 40px;
    text-align: center;
}
.phne{
    padding: 30px;
    text-align: center;
}
.cnts{
        background-image: url("image/0dfDsj.jpg");
        padding: 50px;
}
.ff{
    background-image: url("image/fst.jpg");
    border: 20px whitesmoke dashed;
    color: whitesmoke;
    

    
}
body{
    background-color: whitesmoke;

}
.xxx{
    background-image: url("image/scnd.jpg");
    border: 20px whitesmoke dashed;
    color: whitesmoke;
    text-align: center;
}
.jjj{
    background-image: url("image/thrd.jpg");
    border: 20px whitesmoke dashed;
    color: whitesmoke;
}
.eee{
    background-color: rgb(250, 192, 0);
}
.ff a{
    text-decoration: none;
    color: whitesmoke;
    
}

.ff ul{
    
    
    text-align: center;
    line-height: 30px;

}
.nbn{
    padding: 40px;
}
.iii,.ooo,.ppp{
    border: solid #288b06 5px ;
}
.tsp{
    position: fixed;
    bottom: 20px;
    right: 3%;
}
.sss{
    color: #288b06;
    font-family: 'Cinzel', serif;
    font-size: xx-large;
}
.kkk{
    font-weight: bolder;
    
}
.lll{
    line-height: 40px;
}
.know{
    border: 5px solid  rgb(250, 192, 0) ;
}
.pppp :hover img{
    
    background-color: #288b06;
    
}
.nnn{
    
    
    background-color:  rgb(250, 192, 0);
    height: 5px;
}
.ggg{
    background-color: #288b06;
    border: 5px solid rgb(250, 192, 0);
    
}
.ggg:hover{
    background-color: rgb(250, 192, 0);
    border: 5px solid #288b06;
    
}
 .navs a{
    font-weight: 800;
    
    
}

.nav-link {
    color: #288b06 !important;
    }
.nav-link:hover{
    color: rgb(250, 192, 0) !important;
}